@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  --color-primary-white: #fff;
  --color-primary-black: #050505;
  --color-primary-violet: #b6c3ff;
  --color-primary-black-2: #0f0f0f;
  --color-primary-lite-green: #45ffbc;
  --color-primary-grey: #b6b6b6;
  --color-primary-green-lite: #e3ffa8;
  --secondary-color-grey: #292928;
  --secondary-color-pink: #ffc4f7;
  --secondary-color-yellow: #fff3b7;
  --add-water-button-color: #e3ffa8;
  
}

body {
  background-color: var(--color-primary-black);
  overflow-y: scroll;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
